@import '../partials/page';
@import '../partials/photo-carousel';

.c-collage-container {
  width: 90%;
  margin: 0 auto;
  column-width: 25rem;
  column-count: auto;
}

.c-member {
  max-width: 25rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  break-inside: avoid;
}

.c-member__person {
  font-size: 1.6rem;
  margin: 0.5rem 0;
}

.c-member__location {
  font-size: 1.4rem;
  color: $color-gray;
  margin: 0.5rem 0;
}

.c-member__img {
  width: 100%;
  height: auto;
  margin: 0.5rem 0;
}

.c-group {
  max-width: 25rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  break-inside: avoid;
}

.c-person__name {
  font-size: 1.6rem;
  margin: 0.5rem 0;
}

.c-person__location {
  font-size: 1.4rem;
  color: $color-gray;
  margin: 0.5rem 0;
}

.c-group__img {
  width: 100%;
  height: auto;
  margin: 0.5rem 0;
}