<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% for href in page.stylesheet-hrefs%}
    <link rel="stylesheet" href={{ href }}><link type="application/atom+xml" rel="alternate" href="http://localhost:4000/feed.xml" title="Your awesome title" /></head>
  {% endfor %}
  <title>Document</title>
  <link rel="icon" type="image/svg+xml" href="/media/favicon.svg">
  <link rel="icon" type="image/png" href="/media/favicon.png">
</head>
<body>
  {{ content }}
  {% for src in page.script-srcs%}
    <script src={{ src }}></script>
  {% endfor %}
</body>
</html>