@import "core";
@import "fa-light";

body {
  background-color: $color-black;
  color: $color-white;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.0rem;
}

h3 {
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
}

.c-page-intro {
  text-align: center;
  padding: 2rem;
}

.c-page-intro__title {
  padding: 0;
}

.c-page-intro__text {
  font-style: italic;
  padding-top: 2rem;
}

.c-content-container {
  width: 90%;
  margin: 0 auto;
  max-width: 60rem;
}

.c-button {
  border: 2px solid;
  max-width: 30rem;
  margin: 2rem;
  box-sizing: border-box;
}

.c-button__link {
  text-align: center;
  text-decoration: none;
  color: $color-primary;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1em 2em;
}

.c-button--on-dark {
  border-color: $color-white;

  &:hover,
  &:focus {
    background-color: $color-primary;
    color: $color-white;
  }

  &:active, {
    background-color: $color-primary-dark;
  }
}

.u-font-heading {
  font-family: $font-heading;
}

.o-flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.u-align-items-center {
  align-items: center;
}

.u-flex-1 {
  flex: 1;
}