---
layout: page
stylesheet-hrefs:
- /css/photo-collage.css
script-srcs:
- https://cdn.jsdelivr.net/npm/vue/dist/vue.js
- /js/page-photo-collage.js
---

<h2>
  Photo Collage Testing
</h2>
<div id="vue-app">
  <h3>
    <input type="checkbox" id="checkGroups" v-model="checked">
    <label for="checkGroups">Groups</label>
  </h3>
  <div class="c-collage-container" v-if="checked">
    <div class="c-group" v-for="group in clubData">
      <p class="c-group__name" v-if="showGroupName(group)">${ group.groupName[0] }</p>
      <div class="c-person" v-for="person in group.people">
        <p class="c-person__name">${ person.name }</p>
        <p class="c-person__location" v-if="showLocation(person)">${ person.location.toUpperCase() }</p>
      </div>
      <photo-display v-if="showPhotos" v-bind:image-urls="group.imageUrls">
      </photo-display>
    </div>
  </div>
</div>